@charset "UTF-8";

.navbar {
	margin-bottom: 50px;
	border-radius: 0;
	background-color: #9C27B0;
	font-family: 'Arial Black', sans-serif;
}

.jumbotron {
	margin-bottom: 0;
	background-color: #673AB7;
	color: #ffffff;
	font-family: 'Impact', sans-serif;
}

footer {
	background-color: #E1BEE7;
	padding: 25px;
	color: #ffffff;
	font-family: 'Comic Sans MS', cursive;
}

@media (min-width: 1200px) {
	.container {
		width: 90%;
		max-width: 90%;
	}
}

.panel-heading {
	font-size: 18px;
	font-weight: bold;
	background-color: #AB47BC;
	color: #ffffff;
	font-family: 'Rockwell', serif;
}

.precio {
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	color: #7E57C2;
	font-family: 'Verdana', sans-serif;
}

.panel-producto {
	cursor: pointer;
}

.invoice-title h2, .invoice-title h3 {
	display: inline-block;
	color: #4A148C;
	font-family: 'Courier New', monospace;
}

.invoice-body .table > tbody > tr > .no-line {
	border-top: none;
}

.invoice-body .table > thead > tr > .no-line {
	border-bottom: none;
}

.invoice-body .table > tbody > tr > .thick-line {
	border-top: 2px solid #9C27B0;
}
